
.App{
  width: 90%;
  margin: 0 auto;            
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}


.search-container {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  width: 70%;
}
    .search-container input {
      padding: 12px 20px;
      width: 100%;
      max-width: 500px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

   .countryCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;

  justify-content: center;   /* NEW – centers the columns inside the grid */
  max-width: 1200px;         /* optional: stop the grid stretching too wide */
}

    .card {
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      transition: transform 0.2s;
      
    }

    .card:hover {
      transform: scale(1.03);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .card img {
      width: 100%;
      height: 100px;
      object-fit: contain;
    }

    .card p {
      margin-top: 10px;
      font-weight: bold;
    }